@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables globales */
:root {
    /* variables globales fuente */
    --fuente-principal: "Poppins", sans-serif;
    --fuente-weight: 400px;
    --fuente-style: normal;
    --fuente-title-wight: 600px;
    /* Variables globales... */
    --color-blanco: white;
    --color-transparente: transparent;
    --color-negro: black;
    /* Variables colores de fondo globales */
    --color-fondoOscuro: #232026;
    --color-fondoClaro: #262D47;
    --color-fondoGris: #2f2a31;
    --color-fondo-input: #353535;
    /* Variables de colores de las propiedades de la cancion */
    --color-circulo-progreso: #10CAD5;
    --color-barra: #1a181c;
    --color-botonReproducir: #10CAD5;
/*  */
    --color-fondoOscuro2: #352740;
    --color-fondoClaro2: #262D47;
    --color-fondoGris2: #4D3256;
    --color-fondo-input2: #353535;
    /* Variables de colores de las propiedades de la cancion */
    --color-circulo-progreso2: #121d34;
    --color-barra2: #4D3462;
    
}
/* Contendor sara prueba y despues mover y reorganizar codigo css */

h4{
    font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--color-botonReproducir) !important;
}

#contenedorImgTitle {
    background-color: var(--color-transparente);
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
}
#contenedorImgTitle img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-left: 30px;
}

#titulo-artista {
    overflow: hidden; /* Evita que el texto salga de su contenedor  #3f101d;*/
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 60px;
    background-color: var(--color-transparente);
}
  /* Estilo del titulo de la cancion */
#titulo-artista h6 {
    font-family: var(--fuente-principal);
    white-space: nowrap;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 8px;
    color: var(--color-blanco);

  }
  #titulo-artista #nombre {
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    font-family: var(--fuente-principal);
    margin-left: 20px;
    color: grey !important;
    margin-bottom: 5px;
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden;  /* Oculta el texto que sobresale */
    text-overflow: ellipsis;
    padding-right: 10px;
  }
  .titulo-container {
    padding-right: 20px;
    background-color: transparent;
    width: 100%;
    overflow: hidden; /* Evita que el texto sobresalga */
    position: relative;
  }
  /* Animacion del titulo de la cancion desplazamiento*/
  
  /* Clase que activa la animación solo si el texto es largo */
  .scroll {
    animation: scrollText 10s linear infinite, pauseText 7s infinite;
  }
#lopez{
    background-color: var(--color-transparente);
    flex: 1;
    float: left;
}

body{
    overflow-x: hidden;
}
h1{
    font-family: var(--fuente-principal);
    font-weight: var(--fuente-title-wight);
    font-style: var(--fuente-style);
    color: #10CAD5 !important;
}
/* ul con id playlist-container */
#playlist-container{
    padding-top: 30px;
    padding-bottom: 150px;
    padding-right: 30px;
    max-height: auto;
    background-color: transparent;
    overflow-y: auto;
    color: white;
    font-family: var(--fuente-principal);
    font-weight: var(--fuente-weight);
    font-style: var(--fuente-style);

}

/* li este seleccionado */
#playlist-container li.active{
    color: #10CAD5;/*
    background-color: rgb(88, 88, 88); */
}

li{
    list-style: none; 
    background-color: transparent;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    margin: 5px;
}

li:hover{
    background-color: #085f70;
}



/* ---------------------Todo lo que tienes que ver con el menu lateral------------------------ */


nav{
    height: 300px;
    width: max-content;
    background-color: aqua;
}

/* Navbar lateral fijo */
.sidebar {
    width: 250px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    position: fixed;
    top: 0;
    left: 0;
    background-color:var(--color-fondoGris); /* Color oscuro */
    padding: 20px;
}

/* ALERTASSSSSSSS YYYY CARDS */

.card-container {
    color: black;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Asegura que la tarjeta esté por encima de otros elementos */
}

.bi-check-circle {
    font-size: 50px;
    margin-left: 100px;
    color: #884ac7;
}
.card-container .btn-primary {
    background-color: #884ac7;
    border-color: #884ac7 ;
}
.card-container .btn-primary:hover {
    background-color: #b888e8;
    border-color: #b888e8;
}

/* -------- **************** Todo el contenido de la playslist y demas cosas ***********------------ */
.content {
    margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
    padding: 20px;
    color: var(--color-blanco);
    background-color: var(--color-fondoOscuro);
    position: relative;
    min-height: 100vh; 
    /* Para que el alto sea lo que ocupe la pantalla independientemente de su altura */
}

/* Contenedor de input seleccionar archivos */
.selector-archivos{
    text-align: center;
    background-color: var(--color-transparente);
}
.texto-download{
    margin-top: 40px;
    font-family: var(--fuente-principal);
}
#musica-input{
    border-radius: 25px;
    color: transparent;  /* Hacemos el texto invisible */
    text-align: center;
    display: none;
}
/* Estilos personalizados para el label */
.custom-file-upload {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
  }
  
#imagenDownload{
    width: 100px;
    height: 100px;
}
.selector-musica label{
    background-color: var(--color-fondo-input);
    border-radius: 6px;
    height: 200px;
    width: 70%;
    border: 2px dashed #ddd;
}
.addCorrect{
    display: none;
}
.repetir{
    border-radius: 50px;
}
.atras:hover{
    cursor: pointer;
    color: var(--color-botonReproducir);
}
/* ACtivar los li cuando se reproducza */
.aleatorio.active, .repetir.active{
    color: var(--color-botonReproducir);
}
.aleatorio:hover{
    color: var(--color-botonReproducir);
    cursor: pointer;
}
.adelante:hover{
    color: var(--color-botonReproducir);
    cursor: pointer;
}
.repetir:hover{
    color: var(--color-botonReproducir);
    cursor: pointer;
}
/* Imagen estilos */

img{
    width: 50px;
    height: 50px;
}

#playlist-container img.active{
    width: 60px;
    height: 60px;
}


/*------ Todo la reproduccion de la musica con rango botones de interacciones y titulo con artista----------*/

#contenedorNombreAll{
    background-color: var(--color-barra);
    color: var(--color-blanco);
    position: fixed;
    bottom: 0;
    z-index: 1000;
    transform: translateX(-50%);
    width: 100%;
    left: 50%;
    display: flex; /* para que se aplique que el #sara se vaya a la izq */
    box-shadow: 0px -6px 6px -2px rgba(0,0,0,1);/* Sombra en la parte superior */
}



/* Contenedor de los controles y el tiempo que se muestre */
#contenedorControles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#minutos{
    font-size: 15px;
    font-family: var(--fuente-principal);
    background-color: var(--color-transparente);
    padding-bottom: 1%;
    position: absolute;
    left: 0;
    margin: 2%;
}
#cotenedorVolumen{
    background-color: transparent;
    float: left;
    margin-right: 2%;
    display: flex;
    align-items: center;   
}


/* Contenedor bootnes posiscion */
#contenedorBotones{
    background-color: var(--color-transparente);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-right: 15%;
}
.texto-download-movil{
    display: none;
}

/* .btn-info{
    background-color: var(--color-blanco) !important;
    border-color: var(--color-blanco) !important;
    
} */
.iconoControl{
    color: var(--color-botonReproducir);
    font-size: 30px;
    background-color: transparent;
}
.iconoControl:hover{
    cursor: pointer;
    color: #3f86b3;
}

/* rango de la cancion */

#contenedorRango{
    width:100%;
    background-color: transparent;
    padding-left:  20px;
    padding-right: 20px;
}

#progreso {
    
    -webkit-appearance: none; /* Eliminar estilos por defecto en Chrome y Safari */
  width: 100%;
  height: 5px;  /* Altura del track */
  background: #ddd;
  border-radius: 5px;
  outline: none; /* Bordes redondeados */
}
/* Estilo del thumb para Firefox */
#progreso::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: var(--color-circulo-progreso);
    border-radius: 50%;
    cursor: pointer;
  }
/* Thumb para navegadores basados en WebKit/Blink (Opera, Chrome, Edge) */
#progreso::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;  /* Tamaño reducido del thumb */
    height: 14px;
    background: var(--color-circulo-progreso);
    border-radius: 50%;
    cursor: pointer;
}
/* control volumen estilos */
#control-volumen {
    margin-top: 3px;
    height: 5px;
    -moz-appearance: none;
    background: var(--color-fondoOscuro);
    -webkit-appearance: none; /* Elimina estilos por defecto en Chrome, Safari y Opera */
    appearance: none; /* Elimina estilos por defecto en otros navegadores */
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, #FFFAFA 100%, #3b3b3b 0%); 
}
#control-volumen:hover, #progreso{
    cursor: pointer;
}

/* Estilo del thumb para WebKit (Chrome, Safari, Opera, Edge) */
#control-volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;  
    height: 10px;
    background: #6e6e6e;
    border-radius: 50%;
    cursor: pointer;
}

/* Thumb para Firefox */
#control-volumen::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #6e6e6e;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
}

/* Estilo para Edge */
#control-volumen::-ms-thumb {
    width: 10px;
    height: 10px;
    background: #6e6e6e;
    border-radius: 50%;
    cursor: pointer;
}

/* Animacion para cargar la cancion que est reproduciendo */

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    margin-left: 50px;
    position: absolute;
    margin-top: 15px;
    margin-right: 100px;
    display: inline-block;
    width: 25px;
    height: 30px !important;
    --c: linear-gradient(#10CAD5 0 0);
    background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
    background-size: 4px 100%;
    background-repeat: no-repeat;
    animation: bars-mbi2jdmd 1s infinite linear;
 }
 
 @keyframes bars-mbi2jdmd {
    20% {
       background-size: 4px 50%, 4px 100%, 4px 100%;
    }
 
    40% {
       background-size: 4px 80%, 4px 50%, 4px 100%;
    }
 
    60% {
       background-size: 4px 100%, 4px 80%, 4px 50%;
    }
 
    80% {
       background-size: 4px 100%, 4px 100%, 4px 80%;
    }
 }

 /* Animacion del titulo de la cancion despla*/
 @keyframes scrollText {
    0%, 20% { transform: translateX(0%); } /* Se queda quieto por 2s */
    80% { transform: translateX(-100%); } /* Se mueve a la izquierda */
    100% { transform: translateX(-100%); } /* Pausa al final */
}
/* Controla la pausa al final */
@keyframes pauseText {
    0% { opacity: 2; }
    80% { opacity: 2; }
    90% { opacity: 2; }
    100% { opacity: 2; }
}
/* AJUSTEEEEE DE PANTALLLAASSSSSS pantalla */
/* Hacer que la sidebar se oculte en pantallas pequeñas */
@media (max-width: 1000px) {
    .sidebar {
      width: 100%;
      position: relative;
      display: none;
    }
    
    .content {
      margin-left: 0;
    }
    /* que el volumen sea mas pequeño */
}

/* 750cambios */
@media (max-width: 576px) {
    #cotenedorVolumen{
        display: none;
    }
    /* que el label de descarga sea mas pequeño */
    #musica-input2{
        height: 70px;
    }
    #contenedorControles{
        background-color: var(--color-transparente);
    }
    #contenedorBotones{
        margin-left: 15%;
        background-color: var(--color-transparente);        
    }
    #musica-input2 img{
        display: none;
    }
    .texto-download{
        display: none;
    }
    .texto-download-movil{
        margin-top: 3%;
        display: block;
    }
    li{
        display: flex;
        position: relative;
    }
    li span{
        margin-top: 5%;
        white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
        overflow: hidden;     /* Esconde el texto que se desborda */
        text-overflow: ellipsis;  /* Añade "..." al final si el texto es demasiado largo */
    }
    /* Hacer que el contenido sea completamente responsivo */
    h1 {
      font-size: 1.25rem;
    }
  
    #reproductor-musica {
      font-size: 0.9rem;
    }
  
    #contenedorControles button {
      font-size: 1rem;
      padding: 8px;
    }
    
    /* Reducir tamaño de la imagen en el selector */
    #imagenDownload {
      max-width: 50px;
      max-height: 50px;
    }
  
    /* Ajustar el reproductor a la pantalla */
    #cancion {
      width: 100%;
    }
}
/* Eliminar fondo blanco en dispositivos móviles */
@media (max-width: 768px) {
    .content {
        background-color: var(--color-fondoOscuro); /* No blanco */
    }
}
/* Para pantallas más pequeñas (menor a 576px) */
@media (max-width: 576px) {
    .content {
        background-color: var(--color-fondoOscuro); /* Asegurando que no tenga fondo blanco */
    }
}